<% rooms_array = Room.all.map { |room| [room.number, room.id] } %>

<h1>New guest</h1>

<%= form_for @guest do |f| %>
    <p>
        <%= f.label :room_id, 'Select a room:' %> <br>
        <%= select_tag(:room_id, options_for_select(rooms_array)) %>
    </p>
    
    <p>
        <%= f.label :name, 'Name:'%> <br>
        <%= f.text_field :name%>
    </p>
    
    <p>
        <%= f.label :days, 'Days:'%> <br>
        <%= f.number_field :days%>
    </p>
    
    <%= f.submit%>
<%end%>