<% room = Room.find(@guest.room_id) %>
<% days_remaining = (@guest.checkout.to_date - Date.today).to_i %>

<h1>Guest details</h1>

<p>
    <strong>Name:</strong>
    <%= @guest.name %>
</p>

<p>
    <strong>Check-in date:</strong>
    <%= @guest.checkin.to_date %>
</p>

<p>
    <strong>Days remaining:</strong>
    <%= days_remaining %>
</p>

<p>
    <strong>Room name:</strong>
    <%= room.number %>
</p>

<%= link_to 'Back', guests_path %>